
.u1{
    display: flex;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: aqua;

}
li{
    list-style-type: none;
}
.a{
    list-style-type: none;
    text-decoration: none;
    padding-left: 110px;
}
.sub-menu1{
    display: flex;
    width: 80%;
    float: left;
    height: 200px;
}
.sub-menu{
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    height: 300px;
}
.sub-menu2{
    width: 20%;
    float: left;
    background-color: blueviolet;
    height: 200px;
}
.sub-menu{
    display: none;
}
.menu li:hover .sub-menu{
    display: block;
}